<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="browser" value="chrome" />
    <add key="execution" value="local" />
    <add key="timeout_default" value="30" />
    <add key="base_url" value="http://192.168.99.100:8989/" />

    <add key="username" value="administrator" />
    <add key="password" value="root" />

    <add key="extentReportPath" value="C:\temp\" />
    <add key="reportName" value="Report Automation" />
    <add key="klov" value="false" />
    <add key="seleniumHub" value="http://192.168.99.100:4444/" />

    <add key="dbURL" value="xxxx" />
    <add key="dbConnectionTimeout" value="30" />
    <add key="dbPort" value="xxxx" />
    <add key="dbCatalog" value="xxx" />
    <add key="dbUser" value="root" />
    <add key="dbPassword" value="root" />
    <add key="GET_SCREENSHOT_FOR_EACH_STEP" value="true" />
  </appSettings>
</configuration>